.message-bubble {
    max-width: 70%;
    padding: 10px 14px;
    border-radius: 16px;
    font-size: 14px;
    position: relative;
    line-height: 1.4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    margin: 2px 0;
    background: #f4f4f4;
    white-space: pre-wrap;
}

.message-bubble.bubble-margin-top{
    margin-top: 9px;
}
.message-bubble.bubble-margin-bottom{
    margin-bottom: 9px;
}

.bubble-right {
    margin-left: auto;
    background-color: #dcf8c6;
    border-bottom-right-radius: 4px;
    text-align: right;
}

.bubble-left {
    margin-right: auto;
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    text-align: left;
}

.message-bubble.bubble-margin-top.bubble-left{
    border-top-left-radius: 0;
}

.message-bubble.bubble-margin-top.bubble-right{
    border-top-right-radius: 0;
}

.bubble-sender {
    font-size: 11px;
    color: #888;
    margin-bottom: 4px;
}

.bubble-body-container{
    max-width: 50vw;
}

.bubble-body-container > img{
    display: block;
}

.bubble-text{
    text-align: left;
    display: inline-block;
}

.bubble-time {
    font-size: 10px;
    color: #aaa;
    margin-top: 6px;
    display: inline-block;
}

.bubble-right .bubble-time{
    margin-left: 10px;
}
.bubble-left .bubble-text{
    margin-right: 10px;
}

.bubble-image {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 6px;
}

.bubble-audio,
.bubble-video {
    width: 100%;
    margin-top: 6px;
    border-radius: 6px;
}

.bubble-file {
    display: flex;
    justify-content: center;
    padding: 6px 8px;
    background: #eee;
    border-radius: 6px;
    text-decoration: none;
    font-size: 13px;
    color: #333;
    margin-top: 6px;
    transition: background 0.2s;
}
.bubble-file:hover {
    background: #ddd;
}

.bubble-center {
    margin: 0 auto; /* Center the bubble */
    background-color: #e8e8e8; /* Neutral background color */
    color: #555; /* Neutral text color */
    text-align: center; /* Center-align text */
    border-radius: 12px;
    font-style: italic; /* Optional: Make it look distinct */
    max-width: 60%; /* Optional: Adjust width */
    padding: 10px 14px;
    font-size: 13px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    margin-top: 10px;
    margin-bottom: 10px;
}
